* {
  box-sizing: border-box;
}

@font-face {
  font-family: "RobotoSlabLight";
  src: url("./styles/fonts/Roboto_Slab/RobotoSlab-Regular.ttf");
}

@font-face {
  font-family: "RalewayThin";
  src: url("./styles/fonts/Raleway/Raleway-Regular.ttf");
}

a {
  text-decoration: none;
}
